.weather--card{
    width: 30%;
    border: solid 1px black;
    float: left;
    margin-bottom: 20px;
    margin-left: 10px;
    padding: 10px;
}
.container{
  font-size: 20px;
  width: 25%;
  height: 250px;
  font-weight: bold;
  padding: 20px;
  margin: 20px;
  text-align: center;
  background-color: lightsteelblue;
  display: inline-grid;
  &__green{
    background-color: forestgreen;
  }
  &__blue{
    background-color: deepskyblue;
  }
  &__pink{
    background-color: hotpink;
  }
}
.fox--container{
  background-color: lawngreen;
  display: inline-block;
  width: 500px;
  height: 500px;
  text-align: center;
  &__img{
    width: 100%;
  }
}
